@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  overflow-x: hidden; 
}

#main {
  height: 100%;
  width: 100%;
  position: relative;
}

nav {
  margin-top: 3vh;
  height: 10vh;
  width: 100%;
  background-color: transparent;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav #logo {
  height: inherit;
  width: 40%; 
  border: 2px solid black;
  border-left: none;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

#logo #lo {
  display: flex;
  flex-direction: column;
  align-items: flex-end; 
}

#logo #lo h4 {
  font-size: xxx-large;
  font-family: azonix, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}

#logo #lo h4 sup {
  font-size: x-large;
}

#logo #lo h6 {
  font-size: medium;
  font-family: Roboto;
  padding-right: 12%;
}

.model {
  height: inherit;
  font-family: Roboto, sans-serif;
  font-size: x-large;
  display: flex;
  justify-content: center;
  align-items: center;
  /* border: 2px solid black; */
  border-left: none;
}

.Model {
  height: inherit;
  width: 20%; /* Changed to max-width */
  font-family: Roboto, sans-serif;
  font-size: x-large;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid black;
  border-left: none;
}

#search {
  height: inherit;
}

input {
  margin-left: 5%;
  height: 50%;
  font-family: Roboto, sans-serif;
  font-size: x-large;
  border: none;
  border-bottom: 2px solid black;
  outline: none;
  user-select: none;
}

#menu {
  display: none;
}

#content {
  height: 100%;
  width: 100%;
  /* padding: 4vh; */
  /* position: relative; */
}
#video1 {
  width: 100%;
  padding: 4vh;
  position: relative;
}

#content #video1 {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
}

#video1 video {
  height: 100%;
  width: 60%; /* Changed to max-width */
  object-fit: cover;
}

.overlay {
  height: 35%;
  width: 57%;
  position: absolute;
  bottom: 4vh;
  padding-bottom: 2%;
  backdrop-filter: blur(10px);
  display: flex;
  flex-direction: column;
  mix-blend-mode: difference;
  color: rgb(208, 108, 0);
}

.overlay #inner1 {
  display: flex;
  justify-content: space-between;
  padding: 0 2vh;
  align-items: center;
  font-family: azonix;
  font-size: 8vh;
  border-bottom: 2px solid white;
}

#inner1 #num {
  height: 7vh;
  width: 7vh;
  border: 2px solid white;
  border-radius: 50%;
  font-size: large;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-family: Roboto, sans-serif;
}

#inner2 {
  padding: 0 2vh;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  font-family: Roboto, sans-serif;
  font-size: xx-large;
}

#inner2 img {
  height: 5vh;
}

.scroll {
  height: 42vh;
  width: 100vw;
  white-space: nowrap;
  overflow-x: hidden;
  overflow-y: hidden;
  padding: 2vh 0;
  /* background-color: red; */
}
.innerscroll {
  height: 100%;
  width: 110%;
  /* background-color: aqua; */
  display: inline-block;
  animation-name: sc;
  animation-duration: 30s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
.innerscroll img {
  height: 35vh;
  width: 35vh;
  border-radius: 50%;
  object-fit: cover;
  object-position: top;
  margin-right: 10%;
  box-shadow: 0 10px 25px rgb(76, 76, 76);
}

.alpha{
  height: 10vh;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0 10vh;
  font-family: Roboto;
  font-style: italic;
  font-size: x-large;
  border-top: 2px solid black;
  border-bottom: 2px solid black;
  gap: 2vh;
  
}
.alpha div p {
  
  text-decoration: underline solid black;
  font-weight: bold;
}
.alpha span{
  height: 5vh;
  width: 5vh;
  display: flex;
  justify-content: center;
  align-items: center;
  /* border: 2px solid black; */

  
}
.alpha span:hover{
  
border: 2px solid rgb(123, 123, 123);
border-radius: 50%;
}

#container{
  height:100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: start;
}

#c1{
  height: 100%;
  width: 45%;
  background-color: rgb(255, 255, 255);
  padding: 5vh 15vh;
}
#c1 img {
  height: 100%;
  width: 100%;
  box-shadow: 10px 10px 25px gray;
  border: 2px solid black;
}

#c2{
  height: 100%;
  width: 45%;
  background-color: rgb(255, 255, 255);
  padding: 5vh 15vh;
  display: flex;
  justify-content: start;
  align-items: center;
  flex-direction: column;
}
#c2 img {
  height: 80%;
  width: 85%;
  box-shadow: 10px 10px 25px gray;
  border: 2px solid black;
}

#c2 div {
  height: 20%;
  width: 85%;

  display: flex;
  justify-content:center;
  align-items: center;
  /* background-color: red; */
}
#c2 div h2 {
  height: inherit;
  width: 50%;
  /* background-color: aliceblue; */
  padding: 4% 0;
  font-family: Roboto;
  font-weight: 400;
 
}
#c2 div h4 {
  height: inherit;
  width: 40%;
  /* background-color: aliceblue; */
  padding: 4% 0;
  font-family: Roboto;
  font-weight: 400; 
}

#container2{
  height: 100vh;
  width: 100vw;
  background-color: #F8F8F8;
  padding-left:  25vh;
  margin-top: 7vh;
}
#container2 h1 {
  font-family: azonix;
  font-size: xxx-large;
  font-weight: 800;
  padding-top:1vh ;
}
#container2 div{
  height: 80%;
  width: 85%;
  /* background-color: aliceblue; */
  display: flex;
  justify-content: space-between;
}
#container2 div div {
  height: 100%;
  width: inherit;
  /* background-color: red; */
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
}
#container2 div div img {
  height: 80%;
  width: 90%;
  
}
#container2 div div h1{
  font-family: Roboto;
  font-weight: 300;
  font-size: 4vh;
}
#container2 div #i1{
  box-shadow: 10px 10px 25px gray;
  border: 1px solid rgb(0, 0, 0);
}
#update{
  height: 100vh;
  width: 100vw;
  padding-top: 6vh;
  background-color: #F8F8F8;
  display: flex;
  flex-direction: column;
  gap:15px;  
}
#update h1{
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: azonix;
  font-weight: 100;
  font-size: 8vh;
  /* margin-bottom: vh; */
}
#update .info{
  height: 20vh;
  width: 100%;
  border-top: 2px solid black;
  padding: 5% 0%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Roboto;
}
#li{
  border-bottom: 2px solid black;
}
.info .feson{
  height: inherit;
  width: 20%;
  /* background-color: aqua; */
  display: flex;
  justify-content: center;
  align-items: center;
}
.feson h3{
  font-size: xx-large;
}
.info .pic{
  height: inherit;
  width: 60%;
  /* background-color: blue; */
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  left: -200px;
  transition: all ease-in 0.5s;
  opacity: 0%;
}
.info :hover{
  opacity: 100%;
  left: 200px;
  
}

.pic img{
height: 20vh;
width: 20vh;
border-radius: 50%;
object-fit: cover;
object-position: top;

}
.info .name{
  height: inherit;
  width: 50%;
  /* background-color: blueviolet; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.name h2{
  font-size: xxx-large;
  font-weight: 300;
}
#last{
  height: 85vh;
  width: 100%;
  /* background-color: aquamarine; */
  margin-top: 6vh;
  padding: 2vh 0vh;
  gap: 7vh;
}
#last div{
  /* padding: 2vh */
  display: flex;
  justify-content: center;
height: 80vh;
width: 100vw;
}
#img2 img{
  height: 100%;
  width: 50%;
  box-shadow: 10px 10px 25px gray;
  border: 1px solid rgb(0, 0, 0);
}
#last2{
  height: 80vh;
  width: 100vw;
}
#scroll2{
  height: 10vh;
  width: 100vw;
  /* background-color: yellow;   */
  white-space: nowrap;
  overflow:hidden;
  align-content: center;
  
}
#scroll2 p {
font-size: 7vh;
font-family: azonix;
display: inline-block;
letter-spacing: 10px;
-webkit-text-fill-color: transparent;
  -webkit-text-stroke: 3px;
  animation-name: sc;
  animation-duration: 10s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
#blog{
  height: 80%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 5vh;

}
#inb1{
  height: 80%;
  width: 35%;
  display: flex;
  justify-content: end;
  padding-right: 10vh;
  padding-top: 5vh;
  font-family: azonix;
  font-weight: 100;
  font-size: 8vh;
  font-family: azonix;

}
#inb2{
  height: 80%;
  width: 30%;
  padding-top: 5vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

}
#inb2 p{
  font-family: Roboto;
  font-size: x-large;
  
}
#inb2 img{
  height: 60%;
  width: 100%;
  object-fit: cover;
  box-shadow: 10px 10px 25px gray;
  border: 1px solid rgb(0, 0, 0);
}
#inb3{
  height: 80%;
  width: 30%;
  padding-top: 5vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

}
#inb3 p{
  font-family: Roboto;
  font-size: x-large;
 
}
#inb3 img{
  height: 60%;
  width: 100%;
  object-position: top;
  object-fit: cover;
  box-shadow: 10px 10px 25px gray;
  border: 1px solid rgb(0, 0, 0);
}
footer{
  height: 40vh;
  width: 100%;
  /* background-color: red; */
  padding: 5vh 0vh;
  
}

#nav2 {
  display: flex;
  margin-top: 3vh;
  height: 30vh;
  width: 100%;
  background-color: transparent;
  justify-content: space-between;
  align-items: center;
}

#nav2 #logo {
  height: inherit;
  width: 40%; /* Changed to max-width */
  border: 2px solid black;
  border-left: none;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

#logo #lo {
  display: flex;
  flex-direction: column;
  align-items: flex-end; /* Changed to flex-end for consistency */
}

#logo #lo h4 {
  font-size: xxx-large;
  font-family: azonix, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}

#logo #lo h4 sup {
  font-size: x-large;
}

#logo #lo h6 {
  font-size: medium;
  font-family: Roboto;
  padding-right: 12%;
}

.model {
  height: inherit;
  font-family: Roboto, sans-serif;
  font-size: x-large;
  display: flex;
  justify-content: center;
  align-items: center;
  /* border: 2px solid black; */
  border-left: none;
}

.Model {
  height: inherit;
  width: 30%; /* Changed to max-width */
  font-family: Roboto, sans-serif;
  font-size: x-large;
  display: flex;
  justify-content: center;
  align-items: center;
  /* border: 2px solid black; */
  border-left: none;
}
#subf{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
#id1{
  height: 50%;
  width: 100%;
  display: flex;
  justify-content: start;
  align-items: center;
  padding: 0vh 2vh;
  /* border: 2px solid black */
}
#id2{
  display: flex;
  justify-content: space-between;
  align-items: start;
  flex-direction: column;
  gap: 20px;
  padding: 0vh 2vh;
}
#id2 div{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}


 


 
@keyframes sc {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(calc(-300% - -4px));
  }
}

@media (max-width: 600px) {
  * {
    overflow-x: hidden;
  }

  nav {
    margin-top: 1vh;
    height: 10vh;
    width: 100%;
    background-color: transparent;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  nav #logo {
    height: inherit;
    width: 40%;
    border: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  #logo #lo {
    display: flex;
    flex-direction: column;
    align-items: flex-end; /* Changed to flex-end for consistency */
  }

  #logo #lo h4 {
    font-size: xx-large;
    font-family: azonix, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  }

  #logo #lo h4 sup {
    font-size: medium;
  }

  #logo #lo h6 {
    font-size: small;
    font-family: Roboto, sans-serif;
    padding-right: 12%;
  }

  .model {
    display: none;
  }

  .Model {
    display: none;
  }

  #menu {
    display: block;
    height: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  #content {
    height: 50vh;
    width: 100%;
    padding: 2%;
    margin: 0;
  }
  #video1 {
    height: 80%;
    width: 100%;
    padding: 2%;
    align-items: center;
    position: relative;
  }
  #video1 video {
    height: 80%;
    width: 100%;
    object-fit: cover;
  }

  .overlay {
    height: 30%;
    width: 100%;
    position: absolute;
    padding: 2%;
    bottom: 10%;
    backdrop-filter: blur(7px);
  }

  .overlay #inner1 {
    font-size: 7vw;
  }

  #inner1 #num {
    height: 4vw;
    width: 4vw;
    font-size: medium;
    overflow: hidden;
  }

  #inner2 {
    font-size: large;
  }

  .scroll {
    height: 20vh;
    width: 100%;
    white-space: nowrap;
    overflow-x: hidden;
    overflow-y: hidden;
    bottom: 100%;
    /* padding: 2vh 0 ; */
    /* background-color: red; */
  }
  .innerscroll {
    height: 70%;
    width: 110%;
    /* background-color: aqua; */
    display: inline-block;
    animation-name: sc;
    animation-duration: 25s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
  }
  .innerscroll img {
    height: 25vw;
    width: 25vw;
    border-radius: 50%;
    object-fit: cover;
    object-position: top;
    margin-right: 1.5%;
    box-shadow: 0 10px 25px rgb(76, 76, 76);
  }
  
.alpha{
  height: 10vh;
  width: 100vw;
  display: flex;
  justify-content: start;
  align-items: center;
  padding: 2vh;
  font-family: Roboto;
  font-style: italic;
  font-size: small;
  border-top: 2px solid black;
  border-bottom: 2px solid black;
  gap: 1vw;
}

#container{
  height:70%;
  width: 100%;
  padding-top: 2vh;
  /* background-color: tomato; */
  
}
#c1{
display: none;
}
#c2{
  height: 100%;
  width: 80%;
  background-color: rgb(255, 255, 255);
  padding: 0%;
}
#c2 img {
  height: 80%;
  width: 100%;
  box-shadow: 10px 10px 25px gray;
  border: 2px solid black;

}
#c2 div {
  height: 20%;
  width: 100%;
  display: flex;
  justify-content: start;
  align-items: start;
  gap: 10px;
  padding-top: 2%;
  /* background-color: red; */
}
#c2 div h2 {
  height: inherit;
  width: 50%;
  /* background-color: aliceblue; */
  padding: 4% 0;
  font-family: Roboto;
  font-weight: 400;
  font-size: small;
 
}
#c2 div h4 {
  height: inherit;
  width: 50%;
  /* background-color: aliceblue; */
  padding: 4% 0;
  font-family: Roboto;
  font-weight: 400;
  font-size: xx-small;
 
}
#container2{
  height: 50vh;
  padding:  5vh;
  margin-top: 1vh;
  display: flex;
  flex-direction: column;
}
#container2 h1 {
  font-size: xx-large;
  padding-top:0vh ;
}
#container2 div{
  height: 100%;
  width: 100%;
  /* background-color: blue; */
  display: flex;
  gap: 2%;
  justify-content: space-between;
  /* align-items: center; */
}
#container2 div div img {
  height: 100%;
  width: 60%;
  display: none;
  
}
#container2 div div h1{
  font-family: Roboto;
  font-weight: 300;
  font-size: 2vh;
}
#container2 div #i1{
  height: 100%;
  width: 70%;
}
#update{
  height: 100vh;
  width: 100vw;
  padding-top: 0vh;
  background-color: #F8F8F8;
  display: flex;
  flex-direction: column;
  gap:0px;  
}
#update h1{
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: azonix;
  font-weight: 100;
  font-size: 8vh;
  margin-bottom: 2vh;
}
.info .pic{
  height: inherit;
  width: 60%;
  /* background-color: blue; */
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  left: 0px;
  opacity: 100%;
}
.pic img{
height: 15vh;
width: 15vh;
border-radius: 50%;
object-fit: cover;
object-position: top;
}
.feson h3{
  font-size: medium;
}
.name h2{
  font-size: large;
}
.name p {
  font-size: small;
}
#last{
  height: 45vh;
  margin-top: 0vh;
  padding: 0vh 0vh;
  gap: 0vh;
}
#last div{
  /* padding: 2vh */
  display: flex;
  justify-content: center;
height: 50vh;
width: 100vw;
}
#img2 img{
  height:80%;
  width: 80%;
  box-shadow: 10px 10px 25px gray;
  border: 1px solid rgb(0, 0, 0);
}
#last2{
  height: 100vh;
  width: 100vw;
}
#scroll2{
  height: 20vh;
  width: 100vw;
  /* background-color: yellow;   */
  white-space: nowrap;
  overflow:hidden;
  align-content: center;
  
}
#scroll2 p {
font-size: 7vh;
font-family: azonix;
display: inline-block;
letter-spacing: 10px;
-webkit-text-fill-color: transparent;
  -webkit-text-stroke: 3px;
  animation-name: sc;
  animation-duration: 10s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
#blog{
  height: 150vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0vh 2vh;
}
#inb1{
  height: 10%;
  width: 100%;
  display: flex;
  justify-content: center;
  padding-right: 0vh;
  padding-top: 0vh;
  font-family: azonix;
  font-weight: 100;
  font-size: 8vh;
  font-family: azonix;

}
#inb2{
  height: 80%;
  width: 100%;
  padding-top: 2vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

}
#inb2 p{
  font-family: Roboto;
  font-size: x-large;
  
}
#inb2 img{
  height: 60%;
  width: 100%;
  object-fit: cover;
  box-shadow: 10px 10px 25px gray;
  border: 1px solid rgb(0, 0, 0);
}
#inb3{
  height: 80%;
  width: 100%;
  padding-top: 5vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

}
#inb3 p{
  font-family: Roboto;
  font-size: x-large;
 
}
#inb3 img{
  height: 60%;
  width: 100%;
  object-position: top;
  object-fit: cover;
  box-shadow: 10px 10px 25px gray;
  border: 1px solid rgb(0, 0, 0);
}
footer{
  height: 40vh;
  width: 100%;
  padding: 5vh 0vh;  
}
#nav2 {

  margin-top: 0vh;
  height: 30vh;
  width: 100%;
  background-color: transparent;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}

#nav2 #logo {
  height: inherit;
  width: 100%; /* Changed to max-width */
  border: 2px solid rgb(0, 0, 0);
  border-left: none;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

#nav2 #logo #lo {
  display: flex;
  flex-direction: column;
  align-items: flex-end; /* Changed to flex-end for consistency */
}

#nav2 #logo #lo h4 {
  font-size:large;
  font-family: azonix, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}

#nav2 #logo #lo h4 sup {
  font-size: medium;
}

#nav2 #logo #lo h6 {
  font-size: x-small;
  font-family: Roboto;
  padding-right: 0%;
}

#nav2 .model {
  height: inherit;
  font-family: Roboto, sans-serif;
  font-size: large;
  display: flex;
  justify-content: center;
  align-items: center;
  /* border: 2px solid black; */
  border-left: none;
}

#nav2 .Model {
  height: inherit;
  width: 30%; /* Changed to max-width */
  font-family: Roboto, sans-serif;
  font-size: medium;
  /* display: flex; */
  justify-content: center;
  align-items: center;
  /* border: 2px solid black; */
  border-left: none;
}
#women{
  margin: 3vh; 
 display: none;
  background-color: aqua;
}
#subf{
  display:none;
  flex-direction: column;
  border: none;
  height: 20px;
  width: 30px;
background-color: rebeccapurple;
  justify-content: space-between;
}
#id1{
  height: 100%;
  width: 100%;
  display: none;
  justify-content: center;
  flex-direction: column;
  background-color: red;
  align-items: center;
  /* border: 2px solid black */
}
#id2{
  display: none;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  gap: 0px;
}
#id2 div{
  height: 20vh;
  width: 100%;
  background-color: aqua;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

}